Repository MorePET/technical-documentations: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, hadolint, typst-check, sembr-check

ruff:
  name: ruff (legacy alias)
  entry: uv run ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  require_serial: true

hadolint:
  name: hadolint
  language: system
  entry: 'bash -c ''for file in "$@"; do podman run --rm -i -v "$PWD/.hadolint.yaml:/hadolint.yaml:ro" hadolint/hadolint hadolint --config /hadolint.yaml - < "$file"; done'' --
  
    '

typst-check:
  name: Typst Syntax Check
  entry: bash -c 'for file in "$@"; do typst compile --root . --format pdf "$file" /dev/null || exit 1; done' --
  language: system
  pass_filenames: true

sembr-check:
  name: Check semantic line breaks (warning only)
  entry: bash -c 'uv run sembr check "$@" 2>&1 || exit 0' --
  language: system
  pass_filenames: true

feat(diagrams): add dual theme support with Bootstrap colors
  example/diagrams/architecture.typ
  example/diagrams/data-flow.typ
  example/diagrams/state-machine.typ
  lib/colors.json
  scripts/build-colors.py
  scripts/post-process-html.py
Due: ruff, ruff-format, typst-check, sembr-check

feat(bootstrap): improve navbar, sidebar, and table responsiveness
  scripts/add-bootstrap-classes.py
  scripts/add-styling-bootstrap.py
  scripts/build-html-bootstrap.py
Due: ruff, ruff-format

style(bootstrap): fix table header styling and gradient alignment
  lib/styles-bootstrap.css
  styles-bootstrap.css
Due: none

chore(build): add server-start and build-summary to example-bootstrap
  Makefile
Due: none

chore: update generated artifacts from Bootstrap improvements
  colors.css
  example/README.md
  example/diagrams/architecture-dark.svg
  example/diagrams/architecture-light.svg
  example/diagrams/data-flow-dark.svg
  example/diagrams/data-flow-light.svg
  example/diagrams/state-machine-dark.svg
  example/diagrams/state-machine-light.svg
  technical-doc-example-bootstrap.html
  technical-doc-example.pdf
Due: none

docs: add dual theme implementation guides and demo files
  DUAL_THEME_IMPLEMENTATION.md
  example/QUICKSTART.md
  example/demo-diagrams-processed.html
  example/demo-diagrams.html
Due: none

chore: add .github_data to gitignore
  .gitignore
Due: none

feat(security): protect linting config files from modification
  .checkmake.ini
  .cursor/commands/create-issue.md
  .devcontainer/post-create.sh
  .devcontainer/scripts/setup-protected-configs.sh
  .github/workflows/ci.yml
  .hadolint.yaml
  .pre-commit-config.yaml
  .yamllint
  README.md
  pyproject.toml
Due: none

style: remove trailing newline in setup-protected-configs.sh
  .devcontainer/scripts/setup-protected-configs.sh
Due: none

docs(git): emphasize splitting large commits
  .cursor/commands/git-commit.md
Due: none

docs(git): fix squash example to use conventional commits
  .cursor/commands/git-commit.md
Due: none

feat(table): add hover effect to first header cell
  lib/styles-bootstrap.css
  styles-bootstrap.css
Due: none

fix(docs): correcting doc
  example/README.md
Due: none

chore(hithub): adding gh-data
  .github_data/issues/9.md
  .github_data/prs/10.md
Due: none

chores(python): tyding up
  example/python-project/src/__init__.py
  example/python-project/src/hello.py
  example/python-project/src/main.py
  example/python-project/tests/__init__.py
  example/python-project/tests/test_hello.py
  update/.devcontainer/.DS_Store
  update/.devcontainer/.gitignore
  update/.devcontainer/devcontainer.json
  update/.devcontainer/initialize.sh
  update/.devcontainer/post-attach.sh
  update/.devcontainer/post-create.sh
  update/.devcontainer/post-start.sh
  update/.devcontainer/scripts/setup-git-conf.sh
  update/.devcontainer/scripts/setup-git-init.sh
  update/.devcontainer/scripts/setup-precommit.sh
  update/.devcontainer/scripts/setup-project.sh
  update/.devcontainer/setup-user-conf.sh
  update/.githooks/pre-commit
  update/.github/scripts/sync-prs-issues.sh
  update/.gitignore
  update/.hadolint.yaml
  update/.pre-commit-config.yaml
  update/.pymarkdown
  update/.pymarkdown.config.md
  update/.yamllint
  update/CHANGELOG.md
  update/README.md
  update/pyproject.toml
  update/src/__init__.py
  update/src/hello.py
  update/src/main.py
  update/tests/__init__.py
  update/tests/test_hello.py
  update/uv.lock
  uv.lock
Due: ruff, ruff-format

feat(doc): packages installed for doc generation
  pyproject.toml
  uv.lock
Due: none

fix(ui): remove gradient background in dark mode
  lib/styles-bootstrap.css
  styles-bootstrap.css
Due: none

fix(typst): restore technical-documentation-package.typ
  .gitignore
  lib/technical-documentation-package.typ
Due: typst-check, sembr-check

feat(python): add self-contained documentation generator
  example/python-project/src/doc_generator/__init__.py
  example/python-project/src/doc_generator/extract_api.py
  example/python-project/src/doc_generator/test_report.py
Due: ruff, ruff-format

test(python): add comprehensive main module tests
  example/python-project/tests/test_main.py
Due: ruff, ruff-format

feat(python): add documentation generation scripts
  scripts/extract-docs.py
  scripts/generate-test-report.py
  scripts/watch-docs.py
Due: ruff, ruff-format

docs(python): add V-Model lifecycle documentation
  example/python-project/docs/diagrams/v-model.svg
  example/python-project/docs/diagrams/v-model.typ
  example/python-project/docs/main.typ
  example/python-project/docs/narrative.typ
Due: typst-check, sembr-check

docs(python): add README and build automation
  example/python-project/README.md
  example/python-project/build_docs.sh
Due: none

docs(typst): add API documentation example files
  example/API-DOCS-README.md
  example/diagrams/api-workflow.typ
  example/docs/narrative.typ
  example/main-api-docs.typ
Due: typst-check, sembr-check

chore(typst): rebuild example docs after gradient fix
  technical-doc-example.html
  technical-doc-example.pdf
Due: none

refactor(python): consolidate outputs to build/ directories
  example/python-project/src/doc_generator/extract_api.py
  example/python-project/src/doc_generator/test_report.py
  scripts/build-diagrams.py
  scripts/extract-docs.py
  scripts/generate-test-report.py
Due: ruff, ruff-format

build(makefile): update paths for build/ structure
  Makefile
  example/python-project/build_docs.sh
Due: none

refactor(typst): update include paths to build/ directories
  example/main-api-docs.typ
  example/python-project/docs/main.typ
Due: typst-check, sembr-check

docs(readme): update paths for build/ structure
  example/API-DOCS-README.md
  example/python-project/README.md
Due: none

chore(config): simplify gitignore and remove old artifacts
  .gitignore
  BOOTSTRAP_IMPLEMENTATION_SUMMARY.md
  DUAL_THEME_IMPLEMENTATION.md
  colors.css
  example/diagrams/architecture-dark.svg
  example/diagrams/architecture-light.svg
  example/diagrams/architecture.svg
  example/diagrams/data-flow-dark.svg
  example/diagrams/data-flow-light.svg
  example/diagrams/data-flow.svg
  example/diagrams/state-machine-dark.svg
  example/diagrams/state-machine-light.svg
  example/diagrams/state-machine.svg
  styles-bootstrap.css
  styles.css
Due: none

docs(workflow): require permission before skipping hooks
  .cursor/commands/git-commit.md
Due: none

refactor(typst): migrate HTML builds to Bootstrap styling
  Makefile
  docs/BUILD_SYSTEM.md
  lib/technical-documentation-package.typ
  scripts/add-styling.py
  scripts/build-diagrams.py
  scripts/build-hooks/pre-commit
  scripts/build-html.py
  scripts/build.sh
  scripts/post-process-html.py
  technical-doc-example-bootstrap.html
  technical-doc-example.html
  technical-doc-example.pdf
  technical-documentation/README.md
Due: ruff, ruff-format, typst-check, sembr-check

fix(python): use lazy imports to avoid runpy warnings
  example/python-project/src/doc_generator/__init__.py
Due: ruff, ruff-format

chore(config): enhance build system and theme support
  Makefile
  scripts/build-colors.py
  scripts/build-html-bootstrap.py
  scripts/post-process-html.py
  scripts/remove-body-toc.py
Due: ruff, ruff-format

feat(typst): enhance library with checklist support
  lib/technical-documentation-package.typ
Due: typst-check, sembr-check

docs(typst): replace markdown docs with comprehensive Typst docs
  docs/README.md
  docs/main.typ
  scripts/docs/BOOTSTRAP_STYLING.md
  scripts/docs/BUILD_SYSTEM.md
  scripts/docs/DARK_MODE_COLOR_STANDARDS.md
  scripts/docs/DEV_CONTAINER_SETUP.md
  scripts/docs/LINTER_AND_PRECOMMIT.md
  scripts/docs/color-palette-demo.html
  scripts/docs/color-palette-demo.pdf
  scripts/docs/color-palette-demo.typ
Due: typst-check, sembr-check

feat(typst): expand python-project documentation with diagrams
  example/python-project/docs/diagrams/greet-flow.typ
  example/python-project/docs/diagrams/greet_flow.typ
  example/python-project/docs/diagrams/layered-architecture.typ
  example/python-project/docs/diagrams/layered_architecture.typ
  example/python-project/docs/diagrams/process-flow.typ
  example/python-project/docs/diagrams/process_flow.typ
  example/python-project/docs/diagrams/test-pyramid.typ
  example/python-project/docs/diagrams/test_pyramid.typ
  example/python-project/docs/diagrams/v-model.svg
  example/python-project/docs/diagrams/v-model.typ
  example/python-project/docs/main.typ
  example/python-project/docs/narrative.typ
Due: typst-check, sembr-check

refactor(typst): restructure example project documentation
  example/demo-diagrams-processed.html
  example/demo-diagrams.html
  example/diagrams/architecture.typ
  example/diagrams/data-flow.typ
  example/diagrams/state-machine.typ
  example/docs/diagrams/build-pipeline.typ
  example/docs/diagrams/v-model.svg
  example/docs/diagrams/v-model.typ
  example/docs/main.typ
  example/docs/narrative.typ
  example/main-api-docs.typ
  technical-documentation/README.md
  technical-documentation/technical-documentation.typ
Due: typst-check, sembr-check

docs(readme): update example and python-project READMEs
  example/README.md
  example/python-project/README.md
Due: none

chore(markdown): remove obsolete markdown documentation
  docs/BOOTSTRAP_STYLING.md
  docs/BUILD_SYSTEM.md
  docs/DARK_MODE_COLOR_STANDARDS.md
  docs/DEV_CONTAINER_SETUP.md
  docs/LINTER_AND_PRECOMMIT.md
  docs/color-palette-demo.html
  docs/color-palette-demo.pdf
  docs/color-palette-demo.typ
Due: typst-check, sembr-check

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  hadolint: any of: (Containerfile|Dockerfile)$
  typst-check: any of: \.typ$
  sembr-check: any of: \.typ$
