Repository MorePET/technical-documentations: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, hadolint, typst-check, sembr-check

ruff:
  name: ruff (legacy alias)
  entry: uv run ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  require_serial: true

hadolint:
  name: hadolint
  language: system
  entry: 'bash -c ''for file in "$@"; do podman run --rm -i -v "$PWD/.hadolint.yaml:/hadolint.yaml:ro" hadolint/hadolint hadolint --config /hadolint.yaml - < "$file"; done'' --
  
    '

typst-check:
  name: Typst Syntax Check
  entry: bash -c 'for file in "$@"; do typst compile --root . --format pdf "$file" /dev/null || exit 1; done' --
  language: system
  pass_filenames: true

sembr-check:
  name: Check semantic line breaks (warning only)
  entry: bash -c 'uv run sembr check "$@" 2>&1 || exit 0' --
  language: system
  pass_filenames: true

chore(config): update paths for new documentation structure
  Makefile
  docs/main.typ
Due: typst-check, sembr-check

chore(config): ignore large attachments and coverage artifacts
  .gitignore
Due: none

fix(python): fix duplicate figure rendering in HTML exports
  scripts/post-process-html.py
Due: ruff, ruff-format

fix(typst): fix dark mode text and backgrounds in diagrams
  example/diagrams/api-workflow.typ
  example/diagrams/architecture.typ
  example/diagrams/data-flow.typ
  example/diagrams/state-machine.typ
  example/docs/diagrams/build-pipeline.typ
  example/docs/diagrams/v-model.typ
Due: typst-check, sembr-check

fix(python): fix regex pattern deleting HTML content
  scripts/post-process-html.py
Due: ruff, ruff-format

docs(changelog): update for 0.3.0 release
  .pymarkdown
  CHANGELOG.md
Due: none

fix(typst): expand description column in 2-column tables
  docs/main.typ
  lib/styles-bootstrap.css
  src/.DS_Store
  tests/.DS_Store
Due: typst-check, sembr-check

feat(build): add cache-busting for CSS files
  scripts/add-styling-bootstrap.py
Due: ruff, ruff-format

feat(build): add improved Python development server
  scripts/dev-server.py
Due: ruff, ruff-format

feat(devcontainer): add Node.js and live-server setup
  .devcontainer/post-create.sh
  .devcontainer/scripts/setup-node-liveserver.sh
Due: none

feat(build): integrate live-server into make targets
  Makefile
Due: none

chore(config): improve gitignore patterns
  .gitignore
Due: none

style(build): simplify output message
  scripts/build-html-bootstrap.py
Due: ruff, ruff-format

docs(changelog): document table fixes and server improvements
  CHANGELOG.md
Due: none

feat(typst): translate German section and apply notation system
  docs/main.typ
Due: typst-check, sembr-check

feat(typst): add consistent font pipeline for PDF and HTML
  lib/technical-documentation-package.typ
Due: typst-check, sembr-check

ci(workflow): add typst installation to fix build
  .github/workflows/ci.yml
Due: none

chore(docs): make changelog represent release 0.3.0
  CHANGELOG.md
Due: none

feat(typst): enable HTML export using html.frame show rule
  lib/NOTATIONS-README.md
  lib/notations.typ
  lib/technical-documentation-package.typ
  scripts/build-html-bootstrap.py
Due: ruff, ruff-format, typst-check, sembr-check

feat(typst): add DRY isotope and tracer notation system
  lib/notations.typ
  lib/technical-documentation-package.typ
Due: typst-check, sembr-check

docs(typst): add notation system documentation
  lib/NOTATIONS-README.md
Due: none

feat: Implement HTML frame-based diagram rendering
  CHANGELOG.md
  IMPLEMENTATION_SUMMARY.md
  README.md
  docs/HTML_FRAME_MIGRATION.md
  lib/diagram-theme-switcher.js
  lib/technical-documentation-package.typ
  scripts/add-styling-bootstrap.py
  scripts/build-diagrams.py
  scripts/build-html-bootstrap.py
  scripts/post-process-html.py
Due: ruff, ruff-format, typst-check, sembr-check

feat: Add svg and html export features to typst build
  scripts/build-html-bootstrap.py
Due: ruff, ruff-format

Checkpoint before follow-up message
  scripts/build-html-bootstrap.py
Due: ruff, ruff-format

Checkpoint before follow-up message
  example/typst-x86_64-unknown-linux-musl/LICENSE
  example/typst-x86_64-unknown-linux-musl/NOTICE
  example/typst-x86_64-unknown-linux-musl/README.md
  lib/technical-documentation-package.typ
  scripts/build-html-bootstrap.py
Due: ruff, ruff-format, typst-check, sembr-check

refactor(typst): use Unicode superscripts for HTML isotope notation
  lib/NOTATIONS-README.md
  lib/notations.typ
  lib/technical-documentation-package.typ
Due: typst-check, sembr-check

build(config): unify example and main build processes
  Makefile
Due: none

docs(changelog): document build unification and Unicode notation improvements
  CHANGELOG.md
Due: none

fix(devcontainer): use SSH agent for git signing in container
  .devcontainer/scripts/setup-git-conf.sh
Due: none

docs(changelog): add template section for version 0.4.0-dev
  CHANGELOG.md
Due: none

docs(readme): rewrite as user-focused guide with build system docs
  README.md
  docs/README.md
Due: none

docs(readme): add requirements and improved quick start
  README.md
Due: none

fix(readme): correct project structure paths
  README.md
Due: none

docs(readme): clarify Podman Desktop vs CLI options
  README.md
Due: none

docs(devcontainer): add comprehensive prerequisites validation
  .devcontainer/setup-user-conf.sh
  CHANGELOG.md
  README.md
  pyproject.toml
  scripts/docs/DEV_CONTAINER_SETUP.md
Due: none

feat(release): add single source of truth version management
  Makefile
  docs/VERSION_MANAGEMENT.md
  scripts/bump_version.py
  scripts/get_version.py
Due: ruff, ruff-format

chore(release): bump version to 0.3.3
  CHANGELOG.md
  pyproject.toml
Due: none

docs(workflow): require clean working directory for PR creation
  .cursor/commands/create-pr.md
Due: none

feat(workflow): add issue-solving workflow commands
  .cursor/commands/solve-issue.md
  .cursor/commands/yolo-issue.md
Due: none

feat(workflow): add automated tag-and-release command for #20
  .cursor/commands/create-pr.md
  .cursor/commands/tag-and-release.md
  .cursor/plans/issue-20.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  hadolint: any of: (Containerfile|Dockerfile)$
  typst-check: any of: \.typ$
  sembr-check: any of: \.typ$
